html {
  font-family: "Courier New", Courier, serif;
  text-align: center;
  background-color: rgb(213, 213, 213);
}

button {
  padding: 5px 10px;
  margin: 0px 0px 40px 0px;
  border: 5px solid black;
  font-family: "Courier New", Courier, serif;
  font-size: 16px;
  font-weight: bold;
}

footer {
  margin-top: 50px;
}

.new-board, .rainbow, .grey {
  margin-right: 20px;
}

.new-board, .clear {
  margin-top: 40px;
}

.container{
  border: 5px solid black;
  height: 600px;
  width: 600px;
  margin: 0 auto;
  padding: 0px; 
  background-color: black;
  font-size: 0;
}

.grid{
  display: inline-block;
  border: none;
  margin: 0px;
  padding: 0px; 
  background-color: white;
  box-sizing: content-box; 
}